# BACKEND: C# / .NET
[Bb]in/
[Oo]bj/
.idea/
*.user
appsettings.Development.json

# FRONTEND: React / Vite
node_modules/
spendle-client/dist/
spendle-client/dist-ssr/
spendle-client/*.local
.env

# OS / ENVIRONMENT
.DS_Store
Thumbs.db
Spendle.API/appsettings.Development.json